table#grid {
  border-collapse: collapse;
  max-width: calc(min(100vh, 100vw));
  table-layout: fixed;
}

#corner {
  display: flex;
}

#slider-form {
  font-size: .8em;
  font-weight: normal;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

td, th {
  padding: 10px;
  width: 20%;
}

td {
  border: 2px solid black;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.dropdown-menu {
  flex-shrink: 3;
  max-width: 100%;
  min-width: 60%;
}

.additional-fields {
  flex-shrink: 1;
  max-width: 30%;
}

.additional-fields input {
  min-width: 0;
  width: 70%;
  margin: 0 -1.6px;
  padding: 1px 0;
}

.cell {
  width: 100%;
  text-align: right;
  aspect-ratio: 1/1;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
}

.wordcount {
  height: 25px;
  width: 100%;
}

.wordlist {
  width: 90%;
  height: 80%;
  resize: none;
  border: none;
}

.hidden {
  display: none;
}